* {
  box-sizing: border-box;
}
.body {
  margin: 0;
  /*background-color: lightgray;*/
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: url(valid2.jpg)  no-repeat ;
  opacity: 0.85;
}
.square {
  background-color: #fff;
  margin: 20px;
  border-radius: 20px;
  padding: 26px 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 20px #444;
}
.title {
  margin: 0;
  color: #787878;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 50px;
}
.form {
  margin-top: 17px;
  width: 100%;
}
.formblock {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.formblock-interactive {
  width: 100%;
}
.star {
  margin-right: 6px;
  margin-top: 4px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  color: #787878;
}
.warning {
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;
  color: #CB2424;
  opacity: 0;
}
.block {
  margin-bottom: 4px;
}
.textblock-label {
  margin-left: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  color: #787878;
}
.formblock-textfield {
  width: 97%;
  padding: 6px 15px;
  background: #fff;
  border: 2px solid #787878;
  box-sizing: border-box;
  border-radius: 10px;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 36px;
  color: #787878;
}
.formblock-textfield::placeholder {
  color: #ccc;
  font-size: 24px;
}
.checkbox {
  position: relative;
  margin-top: 12px;
  display: flex;
}
.checkbox-raw {
  display: flex;
  flex-direction: row;
}
.checkbox-wrapped {
  position: absolute;
  width: 24px;
  height: 24px;
  opacity: 0;
  margin: 0;
  z-index: 10;
}
.checkbox-label {
  display: flex;
  align-items: center;
  height: 24px;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #787878;
}
.link {
  color: #787878;
}
.checkbox-point {
  width: 24px;
  min-width: 24px;
  height: 24px;
  background: #fff;
  border: 2px solid #787878;
  box-sizing: border-box;
  border-radius: 7px;
  margin-right: 10px;
}
.checkbox-wrapped:checked + .checkbox-point::after {
  content: '✔';
  position: absolute;
  color: #787878;
  top: -2px;
  left: 16px;
  font-size: 20px;
  font-weight: bold;
  z-index: 1;
}
.button-container {
  width: 180px;
  overflow: auto;
  margin: 20px auto 0;
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.button {
  margin: 0;
  min-width: 180px;
  padding: 18px 0;
  border: 0;
  text-align: center;
  width: 100%;
  background: lightblue;
  border-radius: 15px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 16px;
  color: gray;
}
.link_to_menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 500vm;
  text-decoration: none ;
  color: aliceblue ;
  font: bold Times New Roman, Times, serif;
}

@media screen and (min-width: 769px) {
  .container {
    width: 600px;
    overflow: auto;
    margin: 82px auto 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .link_to_menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 500vm;
    text-decoration: none;
    color: aliceblue;
    font: italic 40px bold Times New Roman, Times, serif;
  }

  @media screen and (max-width: 768px) and (min-width: 320px) {
    .container {
      overflow: auto;
      margin: 20px;
    }

    .popup {
      height: calc(100vh - 40px);
    }

    .link_to_menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 500vh;
      text-decoration: none;
      color: aliceblue;
      font: italic 40px bold Times New Roman, Times, serif;
    }
  }
}

