*{
    box-sizing: none;
    margin: 0 auto;
}
.body {
    color: black;
    width: 100%;
    border: 2px solid #000;
    background: url(valid.jpg) 100% 100% no-repeat;
    opacity: 0.8;
    background-size: cover;
    /*background-color: lightgray;*/
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.container_top {
    margin: auto;
    margin-top: 20px;
    width: auto;
    background: url(valid.jpg) 100% 100% no-repeat;
    opacity: 1;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    border-bottom: 5px #ccc solid;
    box-shadow: 0 0 20px #444;
}
.container {
    margin: auto;
    margin-top: 130px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;

}
.title {
    margin: auto;
    margin-left: 5%;
    color: aliceblue;
    font:italic 60px bold Times New Roman, Times, serif;
}
.box {
    min-width: 200px;
    padding: 10px;
    width: auto;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    /*background: goldenrod;*/
}
.box_counter_text {
    font:italic 30px bold Times New Roman, Times, serif;
    color: white;
}
.counter {}
.text {
    margin-right: 20px;
}
.block_box_picture {}
.box_picture {
    height: 50px;
    width: 50px;
}
.img_box {
    margin: auto;
    width: 40px;
    height: 40px;

}
.block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.block_position {
    margin: 30px;
    background-color: white;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    border: 5px #ccc solid;
    box-shadow: 0 0 20px #444;
}
.picture {
    margin: auto;
    margin-top: 30px;
    width: 280px;
    height: 210px;
    padding: 0;
}
.img_pizza {
    margin: 0;
    width: 280px;
    height: 210px;
}
.textblock_info {
    margin: 10px;
    margin-top: 25px;
    width: 350px;
    height: 210px;
    font-size: 20px;
    box-sizing: border-box;
    padding: 0;
}
.name {
    box-sizing: border-box;
    font-size: 30px;
    margin: auto;
    padding: 10px;
}
.info {
    box-sizing: border-box;
    margin: auto;
    margin-top: 10px;
}
.line {
    height: 2px;
    width: 100%;
    background-color: black;
}
.textblock {
    margin: auto;
    margin-top: 5px;
    width: auto;
    height: auto;
    font-size: 25px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 0;
}
.price {
    width: auto;
    margin: auto;
}
.plus {}
.img_plus {
    margin: auto;
    margin-top: 5px;
    margin-left: 30px;
    margin-right: 5px;
    width: 27px;
    height: 27px;
}
.button_box {
    box-sizing: border-box;
    margin-left: 50px;
    margin-right: 50px;
    height: auto;
    width: auto;
    padding: 10px;
    border-radius: 15px;
    font-size: 25px;
    background: white;
    border: 5px #def0d1 solid;
    box-shadow: 0 0 40px #def0d1;
}
.link_to_order_table {
    font-size: 30px;
    color: white;
    margin-top: 0;
}



@media screen and (min-width: 1000px) {
    .container_top {
        margin-top: 0;
        width: 100%;
        height: 8vw;
        position: fixed;
    }
    .container {
        margin-top: 11vw;
        padding-left: 150px;
        padding-right: 150px;
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        justify-content: center;
        text-align: center;
    }
    .box {
        margin: auto;
        /*margin-top: 20px;*/
        /*background: aliceblue;*/
    }
    .textblock {
        margin-top: 25px;
        font-size: 30px;
    }
    .block_position {
        width: 680px;
        margin: auto;
        height: auto;
        padding: 0 20px 30px 10px;
        padding-right: 5px;
        margin-bottom: 100px;
    }
    .sq {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .title {
        margin: auto;
        /*margin-left: 5%;*/
        color: aliceblue;
        font-size: 50px;
    }
}

@media screen and (max-width: 1000px) and (min-width: 750px) {
    .container_top {
        margin-top: 0;
        width: 100%;
        height: 8vw;
        /*overflow: auto;*/
        position: fixed;
    }
    .container {
        height: 11vw;
        margin-top: 180px;
        padding-left: 150px;
        padding-right: 150px;
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        justify-content: center;
        text-align: center;
    }
    .box {
        margin: auto;
        font-size: 20px;
    }
    .textblock {
        margin-top: 25px;
        font-size: 30px;
    }
    .block_position {
        width: 680px;
        margin: auto;
        height: auto;
        padding: 0 20px 30px 10px;
        padding-right: 5px;
        margin-bottom: 100px;
        font-size: 20px;
    }
    .sq {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .title {
        font-size: 37px;
        color: aliceblue;
        text-align: center;
        margin: auto;
    }
}


@media screen and (max-width: 749px) and (min-width: 320px) {
    .container_top {
        margin: 0;
        overflow: auto;
        position: fixed;
        width: 100%;
    }
    .container {
        margin: 0;
        margin-top: 130px;
        overflow: auto;
        width: auto;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
    .block_position {
        text-align: center;
        margin: 20px;
        margin-left: 0;
        width: 320px;
        height: auto;
        display: inline-block;
        padding-right: 5px;
        margin-bottom: 5px;
    }
    .picture {
        margin: 0;
        margin-top: 10px;
        width: 100%;
    }
    .price {
        width: 150px;
        margin-top: 25px;
        margin-bottom: 5px;
    }
    .button_box {
        width: 190px;
        margin: 20px;
    }
    .name {
        font-size: 30px;
        margin: 0;
        margin-top: 6px;
        width: 95%;
        max-width: 300px;
        height: auto;
        padding: 3px;
    }
    .info {
        margin: auto;
        padding-right: 45px;
        padding-left: 20px;
        width: 90%;
        height: auto;
    }
    .textblock {
        margin: 0;
        width: auto;
        height: auto;
        font-size: 25px;
        box-sizing: border-box;
        display: inline-block;
        justify-content: center;
        text-align: center;
        padding-bottom: 10px;
    }
    .title {
        font-size: 30px;
        /*margin-left: 5%;*/
        color: aliceblue;
        text-align: center;
        margin: auto;
    }
    .box {
        margin-top: 23px;
        font-size: 25px;
    }
}


